<header>
	<img src="images/sportchek_logo.png" alt="logo" id="logo">
	
		<nav>
			<ul>
				<li>
					<a href="index.php?filter=men">Men</a>
				</li>
				<li>
					<a href="index.php?filter=women">Women</a>
				</li>
				<li>
					<a href="index.php?filter=kids">Kids</a>
				</li>
				<li>
					<a href="index.php?filter=gear">Gear</a>
				</li>
				<li>
					<a href="index.php?filter=electronics">Electronics</a>
				</li>
				<li>
					<a href="index.php?filter=shoes">Shoes</a>
				</li>
				<li>
					<a href="index.php?filter=Fanwear">Fanwear</a>
				</li>
				<li>
					<a href="index.php">All</a>
				</li>
			</ul>
		</nav>
</header>